@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', sans-serif;
  transition: all 0.3s ease 0s;
  box-sizing: border-box;
}

body {
  background-color: #F5F5F5;
}