#community {
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;
    margin: 4rem 0 0 0;
    padding: 0;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.card {
    height: 340px;
    width: 460px;
    border-radius: 8px;
    padding: 20px !important;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cardDetails, .cardCode {
    color: #000;
}

.cardDetails {
    width: 100%;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cardCodeWrapper {
    width: 100%;
    height: 70%;
}

.cardCode {
    display: block;
    border-radius: 8px;
    padding: 20px;
    border: none transparent;
    height: 100%;
    white-space: pre-wrap;
}