@media (min-width:1000px) {
    #community {
        position: absolute;
        right: 0;
        width: 75%;
        height: 100%;
        margin: 4rem 0 0 0;
    }

    .card {
        height: 21.25rem;
        width: 28.75rem;
    }

    #community #communityGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:1000px) {
    #community {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4rem 0;
    }

    .card {
        height: 11.25rem;
        width: 18.75rem;
    }

    #community #communityGrid {
        grid-template-columns: repeat(1, 1fr);
    }
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 20px;
}

#community #communityGrid {
    display: grid;
    grid-gap: 10px;
}

.cardDetails {
    color: #000;
    padding-bottom: 10px;
}

.cardDetails {
    width: 100%;
    height: 20%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.cardCodeWrapper {
    width: 100%;
    height: 70%;
}

.cardCode {
    display: block;
    padding: 20px;
    border-radius: 0 0 8px 8px !important;
    border: none transparent;
    height: 100%;
    white-space: pre-wrap;
    overflow: scroll;
}