@media (min-width:1000px) {
    #left-container {
        position: absolute;
        left: 0;
        width: 20%;
        height: 100%;
        padding: 4rem 1rem 0 2rem; 
    }
}

@media (max-width:1000px) {
    #left-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 4rem 0;
    }
}

#left-container button {
    margin: 0.5rem 0rem;
    background: transparent;
    border-radius: 8px;
    border: none transparent;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 14rem;
    gap: 10px;
    transition: 0.3s;
}

#left-container button:hover {
    background: rgba(80, 129, 251, 1);
    cursor: pointer;
}

#left-container button img {
    background: rgba(80, 129, 251, 1);
    border-radius: 16px;
    padding: 0.75em;
}