@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}

text, p, h1, h2, h3, h4, h5, h6, input, div, button, select, textarea {
    color: #FFF;
}

textarea {
    resize: none;

}

body {
    background-color: #051D3B;
    font-family: 'Inter', sans-serif;
    padding: 10px;
}

.title {
    letter-spacing: 4px;
    margin: 0 0 0.25em 0;
}